.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.initial-container {
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.hed-name {
  font-family: 'Roboto';
  color: #475569;
  margin-right: 20px;
}
li {
  width: 70%;
}
.time {
  color: #94a3b8;
  font-size: 14px;
  padding-top: 5px;
}
.date-initial {
  display: flex;

  align-items: center;
}
.comment {
  color: #64748b;
}
.upper {
  display: flex;
  align-items: baseline;
}
.btn-align {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.like-btn {
  color: #7e858e;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.btn-blue {
  color: #0b69ff !important;
}
